/* ----------  --------------------------------------------------  ---------- */

/* This reset should be good for whichever browsers are specified inline below.
 * Opportunities for hair-splitting may present themselves throughout.
 * This is the long version with comments. A short/consolidated version
 * (reset only) is also available in a separate file (0S.css).
 */

/* ----------  --------------------------------------------------  ---------- */

*, *:before, *:after {

  /* Chrome 9-, Safari 5-, iOS 4.2-, Android 3-, Blackberry 7- */
  -webkit-box-sizing: border-box; 

  /* Firefox (desktop or Android) 28- */
  -moz-box-sizing: border-box;

  /* Firefox 29+, IE 8+, Chrome 10+, Safari 5.1+, Opera 9.5+, iOS 5+, 
   * Opera Mini Anything, Blackberry 10+, Android 4+
   */
  box-sizing: border-box;
  
}

/* Source: https://css-tricks.com/international-box-sizing-awareness-day/ */

/* ----------  --------------------------------------------------  ---------- */



/* ---------- TOOLBOX ------------------------------------------------------- */

/* clearfix hack */
.group { display: inline-block; }
.group:after {
  height: 0;
  width: 0;
  visibility: hidden; /* standard */
  display: table;
  clear: both;  /* the star of the show */
  line-height: 0; /* non-standard */
  content: ""; /* usually a period or space */
} /* Keeping in mind that all versions of this hack have compatability issues */

* html .group             { zoom: 1; } /* IE6 */
*:first-child+html .group { zoom: 1; } /* IE7 */

/* Source: https://css-tricks.com/snippets/css/clear-fix/ */
