/* ----------  --------------------------------------------------  ---------- */

/* This reset should be good for whichever browsers are specified inline below.
 * Opportunities for hair-splitting may present themselves throughout.
 * This is the long version with comments. A short/consolidated version
 * (reset only) is also available in a separate file (0S.css).
 */

/* ----------  --------------------------------------------------  ---------- */

*, *:before, *:after {

  /* Chrome 9-, Safari 5-, iOS 4.2-, Android 3-, Blackberry 7- */
  -webkit-box-sizing: border-box; 

  /* Firefox (desktop or Android) 28- */
  -moz-box-sizing: border-box;

  /* Firefox 29+, IE 8+, Chrome 10+, Safari 5.1+, Opera 9.5+, iOS 5+, 
   * Opera Mini Anything, Blackberry 10+, Android 4+
   */
  box-sizing: border-box;
  
}

/* Source: https://css-tricks.com/international-box-sizing-awareness-day/ */

/* ----------  --------------------------------------------------  ---------- */



/* ---------- TOOLBOX ------------------------------------------------------- */

/* For fine-grained control of lists */
ul {
  list-style: none; /* Remove list bullets */
  padding: 0;
  margin: 0;
}
li { padding-left: 1em; } /* Indentation or space before the bullet */
li:before {
  content: "•"; /* Insert content that looks like bullets */
  padding-right: 1em; /* Space between the bullet and the text */
  color: inherit; /* This is the color of the bullet only */
}

/* ----------  --------------------------------------------------  ---------- */

/* For sections in contracts */
body { counter-reset: section; } /* Set "section" to 0 */
h1 { counter-reset: subsection; } /* Set "subsection" to 0 */
h1::before {
    counter-increment: section;
    content: "Section " counter(section) ": ";
}
h2::before {
    counter-increment: subsection;
    content: counter(section) "." counter(subsection) " ";
}

/* ----------  --------------------------------------------------  ---------- */

/* For 3-column text flow with gap adjustment */
.newspaper { /* line between columns is optional */
    -webkit-column-count: 3; /* Chrome, Safari, Opera */
    -moz-column-count: 3; /* Firefox */
    column-count: 3;
    -webkit-column-gap: 3em; /* Chrome, Safari, Opera */
    -moz-column-gap: 3em; /* Firefox */
    column-gap: 3em;
    -webkit-column-rule: 0 double black; /* Chrome, Safari, Opera */
    -moz-column-rule: 0 double black; /* Firefox */
    column-rule: 0 double black;
} /* Ideally the gap would be based on the padding value */

/* ----------  --------------------------------------------------  ---------- */

/* clearfix hack */
.group { display: inline-block; }
.group:after {
  height: 0;
  width: 0;
  visibility: hidden; /* standard */
  display: table;
  clear: both;  /* the star of the show */
  line-height: 0; /* non-standard */
  content: ""; /* usually a period or space */
} /* Keeping in mind that all versions of this hack have compatability issues */

* html .group             { zoom: 1; } /* IE6 */
*:first-child+html .group { zoom: 1; } /* IE7 */

/* Source: https://css-tricks.com/snippets/css/clear-fix/ */
